
.main-screen {
  position: relative;

  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: min-content 1fr;

  transform-origin: bottom;
  transform: perspective(1000px) rotateX(100deg);
  transition: transform 500ms ease-in 150ms;
}

body.route--main .main-screen {
  transform: perspective(1000px) rotateX(0deg);
}

.main-screen_lightnings {
  position: relative;
  grid-area: 1 / 1 / -1 / -1;
  justify-self: stretch;
  align-self: stretch;
}

.main-screen__top-logos {
  position: relative;
  grid-area: 1 / 1 / span 1/ -1;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.main-screen__brands {
  position: relative;
  grid-area: 2 / 1 / span 1 / -1;
  justify-self: center;
  align-self: center;
}