body, html {
    margin: 0;
    padding: 0;
}

a.link {
    display: block;
    outline: none;
    position: absolute;
    /* border: 1px solid red; */
}

a.link:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

img.index {
    max-width: 100%;
}  