#link_1 {
    top: 260px;
    left: 197px;
    width: 687px;
    height: 490px;
}

#link_2 {
    top: 806px;
    left: 76px;
    width: 442px;
    height: 530px;
}

#link_3 {
    top: 806px;
    left: 569px;
    width: 442px;
    height: 530px;
}

#link_4 {
    top: 1358px;
    left: 197px;
    width: 687px;
    height: 490px;
}