<video class="lightning" src="${base}assets/lightning_01.mp4" muted></video>
<video class="lightning" src="${base}assets/lightning_02.mp4" muted></video>
<video class="lightning" src="${base}assets/lightning_04.mp4" muted></video>
<video class="lightning" src="${base}assets/lightning_03.mp4" muted></video>
<video class="lightning" src="${base}assets/lightning_05.mp4" muted></video>
<video class="lightning" src="${base}assets/lightning_06.mp4" muted></video>
<video class="lightning" src="${base}assets/lightning_07.mp4" muted></video>
<video class="lightning" src="${base}assets/lightning_08.mp4" muted></video>
<video class="lightning" src="${base}assets/lightning_09.mp4" muted></video>
<video class="lightning" src="${base}assets/lightning_10.mp4" muted></video>
<video class="lightning" src="${base}assets/lightning_11.mp4" muted></video>
<video class="lightning" src="${base}assets/lightning_12.mp4" muted></video>
<video class="lightning" src="${base}assets/lightning_13.mp4" muted></video>
<video class="lightning" src="${base}assets/lightning_14.mp4" muted></video>
<video class="lightning" src="${base}assets/lightning_15.mp4" muted></video>
<video class="lightning" src="${base}assets/lightning_16.mp4" muted></video>
<video class="lightning" src="${base}assets/lightning_17.mp4" muted></video>
<video class="lightning" src="${base}assets/lightning_18.mp4" muted></video>
<video class="lightning" src="${base}assets/lightning_19.mp4" muted></video>
<video class="lightning" src="${base}assets/lightning_20.mp4" muted></video>