:host {
  display: flex;
  align-items: flex-start;
  
  width: 73px;
  height: 130px;

  pointer-events: none;
  user-select: none;
}

svg {
  display: block;
  width: 100%;
  height: auto;

  animation: none;

  opacity: 0;
  transition: opacity 250ms;
}

:host(.ss-hand--show) svg {
  opacity: .9;

  animation-duration: 3s;
  animation-name: ss-hand-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

path {
  fill: var(--fill, var(--color-white-font));
}

@keyframes ss-hand-move {
  0% {
    transform: translate(0, 0) scale(1.05);
  }
  20% {
    transform: translate(0, 12px) scale(1);
  }
  80% {
    transform: translate(0, 48px) scale(1);
  }
  100% {
    transform: translate(0, 60px) scale(1.05);
  }
}