<div class="wrapper">
  <section class="ribbon__section">
    <h1 class="ribbon__section-title"><span>26</span>1926</h1>
    <ul class="ribbon__section-list">
      <li class="ribbon__section-item">
        <div class="ribbon__section-item-text">
          <h2 class="ribbon__section-item-title">Декабрь</h2>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
          <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
          <p>It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        </div>
        <div class="ribbon__section-item-images">
          <!-- <img src="${base}assets/section-1_5.jpg"> -->
          <img src="">
          <img src="">
        </div>
      </li>
      <li class="ribbon__section-item">
        <div class="ribbon__section-item-text">
          <h2 class="ribbon__section-item-title">Март</h2>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
          <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
          <p>It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        </div>
        <div class="ribbon__section-item-images">
          <!-- <img src="${base}assets/section-1_5.jpg"> -->
          <img src="">
          <img src="">
        </div>
      </li>
      <li class="ribbon__section-item">
        <div class="ribbon__section-item-text">
          <h2 class="ribbon__section-item-title">Ноябрь</h2>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
          <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
          <p>It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        </div>
        <div class="ribbon__section-item-images">
          <!-- <img src="${base}assets/section-1_5.jpg"> -->
          <img src="">
          <img src="">
        </div>
      </li>
    </ul>
  </section>

  <section class="ribbon__section">
    <h1 class="ribbon__section-title"><span>27</span>1927</h1>
    <ul class="ribbon__section-list">
      <li class="ribbon__section-item">
        <div class="ribbon__section-item-text">
          <h2 class="ribbon__section-item-title">Декабрь</h2>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
          <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
          <p>It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        </div>
        <div class="ribbon__section-item-images">
          <!-- <img src="${base}assets/section-1_5.jpg"> -->
          <img src="">
          <img src="">
        </div>
      </li>
      <li class="ribbon__section-item">
        <div class="ribbon__section-item-text">
          <h2 class="ribbon__section-item-title">Март</h2>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
          <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
          <p>It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        </div>
        <div class="ribbon__section-item-images">
          <!-- <img src="${base}assets/section-1_5.jpg"> -->
          <img src="">
          <img src="">
        </div>
      </li>
      <li class="ribbon__section-item">
        <div class="ribbon__section-item-text">
          <h2 class="ribbon__section-item-title">Ноябрь</h2>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
          <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
          <p>It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        </div>
        <div class="ribbon__section-item-images">
          <!-- <img src="${base}assets/section-1_5.jpg"> -->
          <img src="">
          <img src="">
        </div>
      </li>
    </ul>
  </section>
  <section class="ribbon__section">
    <h1 class="ribbon__section-title"><span>21</span>2021</h1>
  </section>
</div>
