.ribbon__section {
  --line-height: 55px;

  position: relative;
  flex: 1 0 auto ;

  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.ribbon__section-title {
  padding: 0 100px;
  position: relative;
  flex: 0 0 auto;

  font-size: calc(var(--line-height) * 1.618);
  line-height: calc(var(--line-height) * 1.618);

  color: rgb(255 255 255 / .87);
}

.ribbon__section-title  span {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;

  font-family: "PT Sans Caption", sans-serif;
  font-size: 2.618em;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 20px;

  color: rgb(255 255 255 / .13);

  transform: translate(-50%, -50%);
}

.ribbon__section-list {
  position: relative;
  flex: 1 1 auto;

  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.ribbon__section-list::before {
  --color: #ECAB1F;
  --angle: 50;
  --height: var(--line-height);

  content: "";
  display: block;
  position: absolute;
  top: calc(50% - var(--height) / 2);
  height: var(--height);
  left: 0;
  right: 0;

  --tan-angle: calc(var(--angle) * 0.01745329251);
  --tan-term1: var(--tan-angle);
  --tan-term2: calc((1/3) * var(--tan-angle) * var(--tan-angle) * var(--tan-angle));
  --tan-term3: calc((2 / 15) * var(--tan-angle) * var(--tan-angle) * var(--tan-angle) * var(--tan-angle) * var(--tan-angle));
  --tan-term4: calc((17/315) * var(--tan-angle) * var(--tan-angle) * var(--tan-angle) * var(--tan-angle) * var(--tan-angle) * var(--tan-angle) * var(--tan-angle));
  --tan: calc(var(--tan-term1) + var(--tan-term2) + var(--tan-term3) + var(--tan-term4));

  background: conic-gradient(
    from .5turn at 100% 50%,
    transparent 0deg calc(var(--angle) * 1deg),
    var(--color) calc(var(--angle) * 1deg) calc(180deg - var(--angle) * 1deg),
    transparent calc(180deg - var(--angle) * 1deg) 360deg
  ), conic-gradient(
    from .5turn at calc(var(--tan) * var(--height) / 2) 50%,
    var(--color) 0deg calc(var(--angle) * 1deg),
    transparent calc(var(--angle) * 1deg) calc(180deg - var(--angle) * 1deg),
    var(--color) calc(180deg - var(--angle) * 1deg) 360deg
  );

  background-size: 50% 100%;
  background-position: 100% 50%, 0% 50%;
  background-repeat: no-repeat;
}
