.content__main {

  width: 100%;
  height: 100%;

  list-style: none;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, min-content);
  gap: 60px;
  align-content: center;

  filter: drop-shadow(1px 3px 5px var(--color-shadow));
}

.content__main li {
  font-size: 30px;
  font-family: "PT Sans";
  font-weight: bold;
  line-height: 1.49;
  color: var(--color-black-font);
  text-align: center;

  --height: 160px;
  --color: #027dcc;
  height: var(--height);

  --pixel-size: calc(var(--height) / 5);

  display: flex;
  justify-content: flex-end;

  background-image:
    linear-gradient(
      transparent, transparent 40%,
      var(--color) 40%, var(--color) 60%,
      transparent 60%, transparent 100%
    );

  background-repeat:  no-repeat;
  background-size: 100% 100%;
  background-position: 0 50%;

  transform: translate(0px, 0px);
  opacity: .97;

  transition: 
    transform var(--transition-duration-1_4) ease-out var(--transition-duration-1_2),
    opacity var(--transition-duration-1_4) linear var(--transition-duration-1_2);
}

.article__container.is-active ~ .content__main li {
  transform: translate(-200%, 0%);
  /*opacity: 0;*/
  transition:
    transform var(--transition-duration-1_4) ease-in 0s,
    opacity var(--transition-duration-1_2) linear 0s;
}

.article__container.is-active ~ .content__main li:nth-child(even) {
  transform: translate(200%, 0%);
}

.content__main li:nth-child(even) {
  flex-direction: row-reverse;
}

.content__main li:last-child {
  grid-column-end: span 2;
  margin-right: 25%;
}

.content__main li::before {
  flex: 0 0 auto;
  content: "";
  display: block;
  box-sizing: border-box;

  width: calc(var(--pixel-size) * 5);
  
  border: var(--pixel-size) solid var(--color);
  background-color: var(--color-white);
  border-radius:
    var(--pixel-size) 0 0 var(--pixel-size) / 
    calc(var(--pixel-size) * 2 / 3) 0 0 calc(var(--pixel-size) * 2 / 3);
}

.content__main li:nth-child(even)::before {
  border-radius:
    0 var(--pixel-size) var(--pixel-size) 0 / 
    0 calc(var(--pixel-size) * 2 / 3) calc(var(--pixel-size) * 2 / 3) 0;
}

.content__main a {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  color: inherit;
  text-decoration: none;
  text-transform: none;
  -webkit-tap-highlight-color: rgb(0 0 0 / 0);

  background-color: var(--color-white);
  background-image: linear-gradient(
    transparent, transparent 20%,
    var(--color) 20%, var(--color) 40%,
    transparent 40%, transparent 60%,
    var(--color) 60%, var(--color) 80%,
    transparent 80%, transparent 100%
  );

  background-repeat:  no-repeat;
  background-size: var(--pixel-size) 100%;
  background-position: 0 50%;

  padding: 0 calc(var(--pixel-size) * 2);

  border-radius: 0 calc(var(--height) / 2) calc(var(--height) / 2) 0;
}

.content__main li:nth-child(even) a {
  border-radius: calc(var(--height) / 2) 0 0 calc(var(--height) / 2);
  background-position: 100% 50%;
}

h1 {
  color: #fff;
  font-size: 50px;
  font-family: "PT Sans";
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  margin: 0;
}

.article__content {
  display: flex;
  flex-direction: row-reverse;
  column-gap: 50px;
  background-color: #0082C9;
  padding: 50px;
  height: 100%;
  box-sizing: border-box;
}

.article__container:not(.is-active) {
  display: none;
}

.article__image {
  width: 450px;
  min-width: 450px;
  position: relative;
}

.article__image img {
  max-width: 100%;
  margin-bottom: 10px;
}

.article__text {
  font-size: 30px;
  font-family: "PT Sans";
  
  width: auto;
  color: #fff;

}
.article__container {
  margin: 0 100px;
  width: 1690px;
  height: 820px;
  /* clip-path: polygon(100% 0, 100% 80%, 80% 100%, 0 100%, 0 0); */
}
.article__container h1 {
  display: block;
  color: #fff;
  background-color: #7FBEE5;
  font-size: 30px;
  font-family: "PT Sans";
  text-align: left;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 0;
  letter-spacing: 0;
  border-radius: 50px 50px 0 0;
  font-weight: normal;
  padding: 10px;
  text-align: center;
}


.article--inner {
  background-image: url(../../assets/gres1/bg2.jpg);
  padding-top: 0;
}

.article--inner .article__header img {
  height: 47px;
  margin-top: 26px;
}

.img3_1 {
  position: absolute;
  top: 150px;
  left: 20px;
  width: 300px;
}

.img4_1 {
  width: 400px;
}

.img4_2 {
  position: absolute;
  top: 50px;
  left: 20px;
  width: 400px;
}

.img4_3 {
  position: absolute;
  top: 100px;
  left: 40px;
  width: 400px;
}

.img4_4 {
  position: absolute;
  top: 150px;
  left: 60px;
  width: 400px;
}