.content__main {

  width: 100%;
  height: 100%;

  list-style: none;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, min-content);
  gap: 60px;
  align-content: center;

  filter: drop-shadow(1px 3px 5px var(--color-shadow));
}

.content__main li {
  font-size: 30px;
  font-family: "PT Sans";
  font-weight: bold;
  line-height: 1.49;
  color: var(--color-black-font);
  text-align: center;

  --height: 160px;
  --color: #027dcc;
  height: var(--height);

  --pixel-size: calc(var(--height) / 5);

  display: flex;
  justify-content: flex-end;

  background-image:
    linear-gradient(
      transparent, transparent 40%,
      var(--color) 40%, var(--color) 60%,
      transparent 60%, transparent 100%
    );

  background-repeat:  no-repeat;
  background-size: 100% 100%;
  background-position: 0 50%;

  transform: translate(0px, 0px);
  opacity: .97;

  transition: 
    transform var(--transition-duration-1_4) ease-out var(--transition-duration-1_2),
    opacity var(--transition-duration-1_4) linear var(--transition-duration-1_2);
}

.content__article.is-active ~ .content__main li {
  transform: translate(-200%, 0%);
  /*opacity: 0;*/
  transition:
    transform var(--transition-duration-1_4) ease-in 0s,
    opacity var(--transition-duration-1_2) linear 0s;
}

.content__article.is-active ~ .content__main li:nth-child(even) {
  transform: translate(200%, 0%);
}

.content__main li:nth-child(even) {
  flex-direction: row-reverse;
}

.content__main li:last-child {
  grid-column-end: span 2;
  margin-right: 25%;
}

.content__main li::before {
  flex: 0 0 auto;
  content: "";
  display: block;
  box-sizing: border-box;

  width: calc(var(--pixel-size) * 5);
  
  border: var(--pixel-size) solid var(--color);
  background-color: var(--color-white);
  border-radius:
    var(--pixel-size) 0 0 var(--pixel-size) / 
    calc(var(--pixel-size) * 2 / 3) 0 0 calc(var(--pixel-size) * 2 / 3);
}

.content__main li:nth-child(even)::before {
  border-radius:
    0 var(--pixel-size) var(--pixel-size) 0 / 
    0 calc(var(--pixel-size) * 2 / 3) calc(var(--pixel-size) * 2 / 3) 0;
}

.content__main a {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  color: inherit;
  text-decoration: none;
  text-transform: none;
  -webkit-tap-highlight-color: rgb(0 0 0 / 0);

  background-color: var(--color-white);
  background-image: linear-gradient(
    transparent, transparent 20%,
    var(--color) 20%, var(--color) 40%,
    transparent 40%, transparent 60%,
    var(--color) 60%, var(--color) 80%,
    transparent 80%, transparent 100%
  );

  background-repeat:  no-repeat;
  background-size: var(--pixel-size) 100%;
  background-position: 0 50%;

  padding: 0 calc(var(--pixel-size) * 2);

  border-radius: 0 calc(var(--height) / 2) calc(var(--height) / 2) 0;
}

.content__main li:nth-child(even) a {
  border-radius: calc(var(--height) / 2) 0 0 calc(var(--height) / 2);
  background-position: 100% 50%;
}

h1 {
  color: #fff;
  font-size: 50px;
  font-family: "PT Sans";
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  margin: 0;
}

.content__article {
  display: none;
  box-sizing: border-box;
  width: 100%;
  height: auto;
  padding: 60px 200px 200px 300px;
  pointer-events: none;
}

.content__article.is-active {
  display: block;
}

.content__article p {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.666;

  margin: 0.666em 0;

  color: var(--color-white-font);
}

.content__article img {
  display: block;
  width: 100%;
}