
.content__main {
  width: 100%;
  height: 100%;

  list-style: none;
  margin: 0;
  padding: 0;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: min-content;
  column-gap: 30px;
  row-gap: 50px;
  align-content: center;

  --color-1: #344A91; /* Dark */
  --color-2: #0073BB; /* Light */ 
  --color-3: #68B2EC; /* Extra light */

  filter: drop-shadow(1px 3px 5px var(--color-shadow));
}

.content__main li {
  margin: 0;
  padding: 10px 100px 10px 50px;

  font-family: "PT Sans Caption", sans-serif;
  font-size: 38px;
  font-weight: 700;
  line-height: 1.49;

  color: var(--color-white-font);

  background-color: var(--color-2);
  background: linear-gradient(233deg, var(--color-2), var(--color-3));
  
  clip-path: polygon(0 0, 100% 0%, calc(100% - 80px) 100%, 0% 100%);
  overflow: hidden;
}

.content__main li:nth-child(even) {
  padding: 10px 50px 10px 120px;
  clip-path: polygon(75px 0, 100% 0%, 100% 100%, 0% 100%);
}

.content__main li:last-child {
  grid-column-end: span 2;
  text-align: center;
  clip-path: none;
}

.content__main a {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;
  padding: 0;

  font-family: "PT Sans Caption", sans-serif;
  font-size: 38px;
  font-weight: 700;
  line-height: 1.4;

  color: var(--color-white-font);
  text-decoration: none;
  text-transform: none;
  -webkit-tap-highlight-color: rgb(0 0 0 / 0);
}

.content__main li {
  transform: translateX(0%);
  opacity: 1;
  transition: opacity var(--transition-duration-1_4) linear var(--transition-duration-1),
              transform var(--transition-duration-1_4) ease-in-out var(--transition-duration-1);
}

.content__article.is-active ~ .content__main li {
  transform: translateX(-200%);
  opacity: 0;
  transition: opacity var(--transition-duration-1_4) linear 0s,
              transform var(--transition-duration-1_2) ease-in-out 0s;
} 

.content__article.is-active ~ .content__main li:nth-child(even) {
  transform: translateX(200%);
}

.content__article.is-active ~ .content__main li:last-child {
  transform: translateX(0%);
  transition: opacity calc(var(--transition-duration-1_4) / 2) linear 0s,
              transform var(--transition-duration-1_2) ease-in-out 0s;
}


.content__article {
  display: none;
  width: calc(100% - 112px);
  height: auto;
  padding-bottom: 70px;
  margin-left: 112px;
  pointer-events: none;
}

.content__article.is-active {
  display: block;
}

.content__title {
  margin: 0;
  padding-left: 50px;
  padding-top: 30px;

  font-family: "PT Sans Caption", sans-serif;
  font-size: 38px;
  font-weight: 700;
  line-height: 1.4;

  color: var(--color-white-font);
}

.content__article p {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.666;

  margin: 0.666em 0;

  color: var(--color-white-font);
}

.content__article-title {
  margin: 0;
  padding: 0;

  font-family: "PT Sans Caption", sans-serif;
  font-size: 28px;
  font-weight: 700;
  line-height: 1.4;

  text-transform: uppercase;

  display: none;
}

.content__article.is-active + .content__article-title {
  display: block;
}

.content__article img {
  display: block;
  width: 100%;
}