.content__main {
  --item-size: 338px;
  --gap: calc(var(--item-size) / 4);

  width: 100%;
  height: 100%;

  list-style: none;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;

  display: grid;
  grid-template-columns: repeat(6, calc((var(--item-size) - var(--gap)) / 2));
  grid-template-rows: repeat(7, calc(var(--item-size) / 4));
  column-gap: var(--gap);
  justify-content: center;
  align-content: center;

  filter: drop-shadow(1px 3px 5px var(--color-shadow));

  opacity: 1;
  transform: translate(0, 0%);
  transition: 
    transform 0s ease-out 0s,
    opacity var(--transition-duration-1_4) linear var(--transition-duration-1_2);
}

.article__container.is-active ~ .content__main {
   transform: translate(0, 80px);
   opacity: 0;
   transition:
    transform var(--transition-duration-1_4) ease-in 0s,
    opacity var(--transition-duration-1_2) linear 0s;
}

.content__main li:nth-child(1) { grid-area: 1 / 1 / span 4 / span 2; }
.content__main li:nth-child(2) { grid-area: 1 / 3 / span 4 / span 2; }
.content__main li:nth-child(3) { grid-area: 1 / 5 / span 4 / span 2; }
.content__main li:nth-child(4) { grid-area: 4 / 2 / span 4 / span 2; }
.content__main li:nth-child(5) { grid-area: 4 / 4 / span 4 / span 2; }

.content__main a {
  height: 100%;
  width: 100%;
  
  position: relative;
  
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  overflow: hidden;
  color: #000;

  display: grid;
  grid-template-columns: 1rf;
  grid-template-rows: 1fr;
  justify-content: stretch;
  align-items: center;

  text-decoration: none;
  text-transform: none;

  font-size: 30px;
  font-family: "PT Sans";
  text-align: center;
  line-height: 1.43;

  -webkit-tap-highlight-color: rgb(0 0 0 / 0);
}

.content__main a img {
  position: relative;
  grid-area: 1 / 1 / -1 / -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  align-items: stretch;
}

.content__main a span {
  box-sizing: border-box;
  position: relative;
  grid-area: 1 / 1 / -1 / -1;
  
  height: calc(var(--item-size) / 2);

  background-color: rgb(225 225 225 / .85);

  display: flex;
  align-items: center;

  padding: 0 10px;
}

h1 {
  color: #4D4D4D;
  font-size: 50px;
  font-family: "PT Sans";
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.article__content {
  display: flex;
  flex-direction: row;
  column-gap: 50px;
  margin: 50px;
}

.article__container:not(.is-active) {
  display: none;
}

.article__image {
  width: 450px;
  min-width: 450px;
  position: relative;
}

.article__image img {
  max-width: 100%;
  filter: drop-shadow(-1px 6px 3px rgba(0, 0, 0, 0.7));
  position: absolute;
  top: 0;
  left: 0;
}

.article__text {
  font-size: 30px;
  font-family: "PT Sans";
  background-color: #ccc;
  padding: 50px;
  width: auto;
}

.article__image img:nth-child(2) {
  transform: translateX(30px) translateY(100px);
}

.article__image img:nth-child(3) {
  transform: translateX(50px) translateY(150px);
}

.article__image img:nth-child(4) {
  transform: translateX(70px) translateY(200px);
}

.article__image img:nth-child(5) {
  transform: translateX(50px) translateY(250px);
}

.article__image img:nth-child(6) {
  transform: translateX(30px) translateY(300px);
}

.article__image img:nth-child(7) {
  transform: translateX(20px) translateY(350px);
}
.article__image img:nth-child(8) {
  transform: translateX(0) translateY(400px);
}