.image-wrapper {
  display: block;
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  overflow: hidden;
  overflow-y: scroll;
} 

.image-wrapper::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  height: 0; /* Remove scrollbar space */
  background: transparent;  /* Make scrollbar invisible */
}