/*body, html {
    margin: 0;
    padding: 0;
}*/

.image-wrapper {
    display: block;
    width: 100%;
    min-width: 100%;
    max-width: 100%;

    overflow: hidden;
    overflow-y: scroll;
} 

.image-wrapper::-webkit-scrollbar {
    width: 0; /* Remove scrollbar space */
    height: 0; /* Remove scrollbar space */
    background: transparent;  /* Make scrollbar invisible */
}

.link {
    display: block;
    outline: none;
    position: absolute;
    /* border: 1px solid red; */
}

.link:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

img.index {
    max-width: 100%;
}  