@import "main.css";

#link_1 {
    top: 192px;
    left: 296px;
    width: 484px;
    height: 490px;
}

#link_2 {
    top: 709px;
    left: 76px;
    width: 442px;
    height: 584px;
}

#link_3 {
    top: 783px;
    left: 580px;
    width: 442px;
    height: 479px;
}

#link_4 {
    top: 1344px;
    left: 76px;
    width: 454px;
    height: 512px;
}

#link_5 {
    top: 1297px;
    left: 580px;
    width: 442px;
    height: 500px;
}