@import "main.css";

#link_1 {
    top: 295px;
    left: 80px;
    width: 210px;
    height: 407px;
}

#link_2 {
    top: 295px;
    left: 314px;
    width: 212px;
    height: 398px;
}

#link_3 {
    top: 295px;
    left: 551px;
    width: 212px;
    height: 350px;
}

#link_4 {
    top: 295px;
    left: 787px;
    width: 212px;
    height: 309px;
}

#link_5 {
    top: 726px;
    left: 80px;
    width: 210px;
    height: 303px;
}

#link_6 {
    top: 717px;
    left: 314px;
    width: 212px;
    height: 445px;
}

#link_7 {
    top: 669px;
    left: 551px;
    width: 211px;
    height: 458px;
}

#link_8 {
    top: 627px;
    left: 787px;
    width: 211px;
    height: 372px;
}

#link_9 {
    top: 1052px;
    left: 80px;
    width: 211px;
    height: 400px;
}

#link_10 {
    top: 1023px;
    left: 787px;
    width: 211px;
    height: 423px;
}