<div class="brand" data-route="./section-5">
  <!-- СГЭС -->
  <div class="brand__soffit"></div>
  <img class="brand__logo" src="${base}assets/logos/sges.svg" width="219" height="127">
</div>
<div class="brand" data-route="./section-3">
  <!-- ЮниПром -->
  <div class="brand__soffit"></div>
  <img class="brand__logo" src="${base}assets/logos/uni-pro.svg" width="194" height="117">
</div>
<div class="brand" data-route="./section-2">
  <!-- Россети -->
  <div class="brand__soffit"></div>
  <img class="brand__logo" src="${base}assets/logos/rosseti.svg" width="219" height="69">
</div>
<div class="brand" data-route="./section-4">
  <!-- ГРЭС-1 / ОГК-2 -->
  <div class="brand__soffit"></div>
  <img class="brand__logo" src="${base}assets/logos/gork.svg" width="174" height="119">
</div>
<div class="brand" data-route="./section-1">
  <!-- Газпром энергостыт - Тюмень -->
  <div class="brand__soffit"></div>
  <img class="brand__logo" src="${base}assets/logos/gazprom.svg" width="229" height="123">
</div>