<ss-lightnings class="lightnings" @flash="onFlash"></ss-lightnings>
<img class="logo__rmh" src="${base}assets/rmh.svg" width="531" height="136">
<img class="logo__100" src="${base}assets/100.svg" width="531" height="136">
<img class="title title--1" src="${base}assets/ss-1__persons.svg" width="662" height="184">
<img class="title title--3" src="${base}assets/ss-3__visit.svg" width="685" height="226">
<img class="title title--5" src="${base}assets/ss-5__facts.svg" width="634" height="305">
<img class="title title--7 title--line" src="${base}assets/ss-7__collective.svg" width="1257" height="184">
<ss-brand-selector class="brands"></ss-brand-selector>